SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=youtube
POSTGRES_USER=youtube
POSTGRES_PASSWORD=youtube
POSTGRES_PORT=5435

DATABASE_URL=postgres://youtube:youtube@localhost:5435/youtube
