asgiref==3.12.1
Django==5.2.17
django-environ==0.12.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg==3.3.6
psycopg-binary==3.3.6
PyJWT==2.15.0
sqlparse==0.6.0
tzdata==2026.4
